/* Variables y estilos globales para la raíz del documento */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fuente base */
  line-height: 1.5; /* Altura de línea estándar */
  font-weight: 400; /* Peso de fuente predeterminado */

  color-scheme: light dark; /* Soporte para esquemas de color claro/oscuro */
  color: rgba(255, 255, 255, 0.87); /* Color de texto principal */
  background-color: #dca6a6; /* Color de fondo principal */

  font-synthesis: none; /* Evita la síntesis de fuentes */
  text-rendering: optimizeLegibility; /* Mejora la legibilidad del texto */
  -webkit-font-smoothing: antialiased; /* Suavizado de fuentes en Webkit */
  -moz-osx-font-smoothing: grayscale; /* Suavizado de fuentes en Firefox/Mac */
}

/* Estilos para enlaces */
a {
  font-weight: 500; /* Peso de fuente para enlaces */
  color: #000000; /* Color de texto de enlaces */
  text-decoration: inherit; /* Hereda la decoración del texto */
}
a:hover {
  color: #000000; /* Color de enlace al pasar el mouse */
}

/* Estilos globales para el body */
body {
  margin: 0; /* Elimina el margen por defecto */
  place-items: center; /* Centra los elementos (para grid/flex) */
  min-width: 320px; /* Ancho mínimo */
  min-height: 100vh; /* Altura mínima igual a la ventana */
}

/* Estilos para títulos h1 */
h1 {
  font-size: 3.2em; /* Tamaño grande para h1 */
  line-height: 1.1; /* Altura de línea ajustada */
}

/* Estilos para botones */
button {
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid transparent; /* Borde transparente por defecto */
  padding: 0.6em 1.2em; /* Espaciado interno */
  font-size: 1em; /* Tamaño de fuente */
  font-weight: 500; /* Peso de fuente */
  font-family: inherit; /* Hereda la fuente */
  background-color: #1a1a1a; /* Fondo oscuro */
  cursor: pointer; /* Cursor de mano */
  transition: border-color 0.25s; /* Transición suave para el borde */
}
button:hover {
  border-color: #646cff; /* Color de borde al pasar el mouse */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Resalta el botón al enfocarse */
}

/* Media query para modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547; /* Color de texto en modo claro */
    background-color: #ffffff; /* Fondo blanco en modo claro */
  }
  a:hover {
    color: #747bff; /* Color de enlace al pasar el mouse en modo claro */
  }
  button {
    background-color: #f9f9f9; /* Fondo claro para botones en modo claro */
  }
}
